%form{:method => "POST", :action => "/", :id => "page"}
  %label{:for => "page"}
    Paste your arabic numbers and convert!
  %textarea{:id => "page_arabic", :name => "page[arabic]"}=h @arabic || ""
  %label{:for => "page_western"}
  %textarea{:id => "page_western", :name => "page[western]"}= @western || ""

  %input.button{:type => "submit", :name => "commit", :value => "Convert 2 English"}
  %input.button{:type => "submit", :name => "commit", :value => "Convert 2 Spanish"}
  %input.button{:type => "reset", :name => "commit", :value => "Reset"}